@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-opacity-edge {
    --mask: linear-gradient(to right,
    rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0
    ) 100% 50% / 100% 100%;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.ping {
    animation: ping 500ms alternate infinite;

}

@keyframes ping {
    0%, 50% {
        opacity: 0;
    }
}

/* Width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282C33;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ABB2BF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #78CEDD;
}